.search-box {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

.search-box input[type='text'] {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-box input[type='text']:focus {
  border-color: #007bff;
}

.users-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .users-container {
    width: 95%;
  }
}

@media (max-width: 480px) {
  .users-container {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .user {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .user {
    width: calc(100% - 20px);
  }
}
